body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header {
  padding: 20px;
  /* background-color:#66bb6a; */
  height: 45em;
  text-align: center;
}

.boxShadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.headerbox {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.box {
  width: 100%;
  height: 100%;
}

.box img {
  width: 100%;
}

#parent {
  display: table;
  text-align: center;
}

#child {
  display: table-cell;
  vertical-align: middle;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  
}
